html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
  min-height: 1000px;
  font-family: 'helvetica neue';
}

h1 {
  color: #fff;
  padding: 10px;
}

h2 {
  color: #A683E3;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #A683E3;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

p {
  margin: 0;
  font-size: 20px;
  font-weight: 200;
  color: grey;
}

form {
  text-align: center;
}

button {
  position: relative;
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #A683E3;
  color: #fff;
  font-size: 30px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  color: grey;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

::placeholder {
  color: grey;
  opacity: 1;
}

section {
  margin: auto;
}

h2 {
  position: relative;
}

span {
  position: absolute;
  top: 2px;
  right: 5px;
  display: inline-block;
  padding: 0 5px;
  height: 20px;
  border-radius: 20px;
  background: #A683E3;
  line-height: 20px;
  text-align: center;
  color: white;
  font-size: 14px;
}

ol, ul {
  padding: 0;
  list-style: none;
}

li input {
  position: absolute;
  top: 2px;
  left: 10px;
  width: 18px;
  height: 20px;
  cursor: pointer;
}

li p input {
  top: 3px;
  left: 40px;
  width: 70%;
  height: 20px;
  line-height: 14px;
  text-indent: 5px;
  font-size: 14px;
}

li {
  height: 32px;
  line-height: 32px;
  background: #fff;
  position: relative;
  margin-bottom: 10px;
  padding: 0 45px;
  border-radius: 3px;
  border-left: 5px solid #A683E3;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}

ol li {
  cursor: move;
}

ul li {
  border-left: 5px solid grey;
  opacity: 0.5;
}

li a {
  position: absolute;
  top: 2px;
  right: 5px;
  width: 20px;
  height: 18px;
  text-decoration: none;
  line-height: 14px;
  text-align: center;
  color: #A683E3;
  font-weight: bold;
  font-size: 15px;
}

ul li a {
  position: absolute;
  top: 2px;
  right: 5px;
  width: 20px;
  height: 18px;
  text-decoration: none;
  line-height: 14px;
  text-align: center;
  color: grey;
  font-weight: bold;
  font-size: 15px;
}

footer {
  color: white;
  font-size: 20px;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: white;
}

@media screen and (max-device-width: 1170px) {
  section {
    width: 96%;
    padding: 0 2%;
  }
  button {
    width: 25px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:2) (-webkit-max-device-pixel-ratio:2){
  button {
    width: 25px;
  }
}

@media screen and (min-width: 1170px) {
  section {
    width: 96%;
    padding: 0 2%;
  }

}
